<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> <%= docTitle %> </title>

    <link rel="stylesheet" href="/css/main.css">

</head>

<body>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a href="/">Inicio</a>
            </li>
            <li class="main-header__item">
                <a href="/vercursosinteresado">cursosInteresado</a>
            </li>
            <li class="main-header__item">
                <a href="/crearcurso">crearCursos</a>
            </li>
            <li class="main-header__item">
                <a href="/vercursoscoordinador">cursosCoordinador</a>
            </li>
            <li class="main-header__item">
                <a href="/inscribiraspirante">InscribirAspirante</a>
            </li>
            <li class="main-header__item">
                <a href="/listarinscriptoscoordinador">listarInscriptos</a>
            </li>
        </ul>
    </nav>
    </header>

    <main>
        <div class="container">
            <form classs="form-control" action="/inscribiraspirante" method="POST">
                Cedula:<input type="number" name="cedula" id="cedula" required><br>
                Nombre:<input type="text" name="nombre" id="nombre" required><br>
                E-mail:<input type="email" name="email" id="email" required><br>
                Cursos Disponibles:<select name="cursoseleccionado">
                    {{#if cursos}}
                    {{#each cursos}}

                    <option value="{{this.id}}">{{this.nombre}}</option>

                    {{/each}}
                    {{else}}
                    <h1>No hay disponible ningun curso.</h1>
                    {{/if}}
                </select><br>
                Telefono:<input type="number" name="telefono" id="telefono" required><br>

                <input type="submit" value="Inscribirme">
            </form>

        </div>


    </main>

    <footer>
        Made with ♥ by Eider.
    </footer>
</body>

</html>