<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> <%= docTitle %> </title>

    <link rel="stylesheet" href="/css/main.css">

</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item">
                    <a href="/">Inicio</a>
                </li>
                <li class="main-header__item">
                    <a href="/vercursosinteresado">cursosInteresado</a>
                </li>
                <li class="main-header__item">
                    <a href="/crearcurso">crearCursos</a>
                </li>
                <li class="main-header__item">
                    <a href="/vercursoscoordinador">cursosCoordinador</a>
                </li>
                <li class="main-header__item">
                    <a href="/inscribiraspirante">InscribirAspirante</a>
                </li>
                <li class="main-header__item">
                    <a href="/listarinscriptoscoordinador">listarInscriptos</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>

        <h1>Hola, Este es la segunda entrega del curso de NodeJS</h1>

        <h2>{{mensaje}}</h2>

    </main>

    <footer>
        Made with ♥ by Eider.
    </footer>
</body>

</html>